<!-- Header start -->
        <div class="header-section header-sticky">

            <!-- Header Top Start -->
            {{!-- <div class="header-top d-none d-sm-block">
                <div class="container">

                    <!-- Header Top Bar Wrapper Start -->
                    <div class="header-top-bar-wrap">
                        <div class="header-top-bar-wrap__text text-center">
                            <p>Keep learning with free resources during <strong>COVID-19.</strong> <a href="#">Learn more</a></p>
                        </div>
                    </div>
                    <!-- Header Top Bar Wrapper End -->

                </div>
            </div> --}}
            <!-- Header Top End -->

            <!-- Header Main Start -->
            <div class="header-main">
                <div class="container">
                    <!-- Header Main Wrapper Start -->
                    <div class="header-main-wrapper">

                        <!-- Header Logo Start -->
                        <div class="header-logo">
                            <a class="header-logo__logo" href="/"><img src="/assets/images/dark-logo.png" width="296" height="64" alt="Logo"></a>
                        </div>
                        <!-- Header Logo End -->

                        <!-- Header Category Menu Start -->
                        {{!-- <div class="header-category-menu d-none d-xl-block">
                            <a href="#" class="header-category-toggle">
                                <div class="header-category-toggle__icon">
                                    <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g stroke="none" stroke-width="1" fill-rule="evenodd">
                                            <path d="M2,14 C3.1045695,14 4,14.8954305 4,16 C4,17.1045695 3.1045695,18 2,18 C0.8954305,18 0,17.1045695 0,16 C0,14.8954305 0.8954305,14 2,14 Z M9,14 C10.1045695,14 11,14.8954305 11,16 C11,17.1045695 10.1045695,18 9,18 C7.8954305,18 7,17.1045695 7,16 C7,14.8954305 7.8954305,14 9,14 Z M16,14 C17.1045695,14 18,14.8954305 18,16 C18,17.1045695 17.1045695,18 16,18 C14.8954305,18 14,17.1045695 14,16 C14,14.8954305 14.8954305,14 16,14 Z M2,7 C3.1045695,7 4,7.8954305 4,9 C4,10.1045695 3.1045695,11 2,11 C0.8954305,11 0,10.1045695 0,9 C0,7.8954305 0.8954305,7 2,7 Z M9,7 C10.1045695,7 11,7.8954305 11,9 C11,10.1045695 10.1045695,11 9,11 C7.8954305,11 7,10.1045695 7,9 C7,7.8954305 7.8954305,7 9,7 Z M16,7 C17.1045695,7 18,7.8954305 18,9 C18,10.1045695 17.1045695,11 16,11 C14.8954305,11 14,10.1045695 14,9 C14,7.8954305 14.8954305,7 16,7 Z M2,0 C3.1045695,0 4,0.8954305 4,2 C4,3.1045695 3.1045695,4 2,4 C0.8954305,4 0,3.1045695 0,2 C0,0.8954305 0.8954305,0 2,0 Z M9,0 C10.1045695,0 11,0.8954305 11,2 C11,3.1045695 10.1045695,4 9,4 C7.8954305,4 7,3.1045695 7,2 C7,0.8954305 7.8954305,0 9,0 Z M16,0 C17.1045695,0 18,0.8954305 18,2 C18,3.1045695 17.1045695,4 16,4 C14.8954305,4 14,3.1045695 14,2 C14,0.8954305 14.8954305,0 16,0 Z"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="header-category-toggle__text">Category</div>
                            </a>

                            <div class="header-category-dropdown-wrap">
                                <ul class="header-category-dropdown">
                                    <li>
                                        <a href="shop-left-sidebar.html"> Design <span class="toggle-sub-menu"></span></a>

                                        <ul class="sub-categories children">
                                            <li><a href="shop-left-sidebar.html">All Business</a></li>
                                            <li>
                                                <a href="#">Communications<span class="toggle-sub-menu"></span></a>

                                                <ul class="course-list children">
                                                    <li>
                                                        <a class="categories-course" href="shop-single-list-left-sidebar.html">
                                                            <div class="categories-course__thumbnail">
                                                                <img src="/assets/images/courses-1.jpg" alt="Course" width="62" height="50">
                                                            </div>
                                                            <div class="categories-course__caption">
                                                                <h5 class="categories-course__title">Illustrator 2020 MasterClass</h5>
                                                                <div class="categories-course__price">
                                                                    <span class="categories-course__sale-price">$22.00</span>
                                                                    <span class="categories-course__regular-price">$30.00</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="categories-course" href="shop-single-list-left-sidebar.html">
                                                            <div class="categories-course__thumbnail">
                                                                <img src="/assets/images/courses-2.jpg" alt="Course" width="62" height="50">
                                                            </div>
                                                            <div class="categories-course__caption">
                                                                <h5 class="categories-course__title">Illustrator 2020 MasterClass</h5>
                                                                <div class="categories-course__price">
                                                                    <span class="categories-course__sale-price">$22.00</span>
                                                                    <span class="categories-course__regular-price">$30.00</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="categories-course" href="shop-single-list-left-sidebar.html">
                                                            <div class="categories-course__thumbnail">
                                                                <img src="/assets/images/courses-3.jpg" alt="Course" width="62" height="50">
                                                            </div>
                                                            <div class="categories-course__caption">
                                                                <h5 class="categories-course__title">Illustrator 2020 MasterClass</h5>
                                                                <div class="categories-course__price">
                                                                    <span class="categories-course__sale-price">$22.00</span>
                                                                    <span class="categories-course__regular-price">$30.00</span>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a href="shop-left-sidebar.html">Entrepreneurship</a></li>
                                            <li><a href="shop-left-sidebar.html">Finance</a></li>
                                            <li><a href="shop-left-sidebar.html">Management</a></li>
                                            <li><a href="shop-left-sidebar.html">Sales</a></li>
                                            <li><a href="shop-left-sidebar.html">Strategy &amp; Analytics</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-left-sidebar.html">Business</a></li>
                                    <li><a href="shop-left-sidebar.html">Data Science</a></li>
                                    <li><a href="shop-left-sidebar.html">Development</a></li>
                                    <li><a href="shop-left-sidebar.html">Finance</a></li>
                                    <li><a href="shop-left-sidebar.html">Health &amp; Fitness</a></li>
                                    <li><a href="shop-left-sidebar.html">Lifestyle</a></li>
                                    <li><a href="shop-left-sidebar.html">Marketing</a></li>
                                    <li><a href="shop-left-sidebar.html">Music</a></li>
                                    <li><a href="shop-left-sidebar.html">Personal Development</a></li>
                                    <li><a href="shop-left-sidebar.html">Photography</a></li>
                                    <li><a href="shop-left-sidebar.html">Teaching &amp; Academics</a></li>
                                </ul>
                            </div>
                        </div> --}}
                        <!-- Header Category Menu End -->

                        <!-- Header Inner Start -->
                        <div class="header-inner">

                            <!-- Header Search Start -->
                            {{!-- <div class="header-serach">
                                <form action="#">
                                    <input type="text" class="header-serach__input" placeholder="Search...">
                                    <button class="header-serach__btn"><i class="fas fa-search"></i></button>
                                </form>
                            </div> --}}
                            <!-- Header Search End -->

                            <!-- Header Navigation Start -->
                            <div class="header-navigation d-none d-xl-block">
                                <nav class="menu-primary">
                                    <ul class="menu-primary__container">
                                        {{!-- <li><a class="active" href="#"><span>Demo</span></a>

                                            <ul class="mega-menu">
                                                <li>
                                                    <!-- Mega Menu Content Start -->
                                                    <div class="mega-menu-content">
                                                        <div class="row">
                                                            <div class="col-xl-3">
                                                                <div class="menu-content-list">
                                                                    <a href="index.html" class="menu-content-list__link">Main Demo <span class="badge hot">Hot</span></a>
                                                                    <a href="index-course-hub.html" class="menu-content-list__link">Course Hub</a>
                                                                    <a href="index-online-academy.html" class="menu-content-list__link">Online Academy <span class="badge hot">Hot</span></a>
                                                                    <a href="index-university.html" class="menu-content-list__link">University</a>
                                                                    <a href="index-education-center.html" class="menu-content-list__link">Education Center <span class="badge hot">Hot</span></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-3">
                                                                <div class="menu-content-list">
                                                                    <a href="index-language-academic.html" class="menu-content-list__link">Language Academic</a>
                                                                    <a href="index-single-instructor.html" class="menu-content-list__link">Single Instructor</a>
                                                                    <a href="index-dev.html" class="menu-content-list__link">Dev <span class="badge new">New</span></a>
                                                                    <a href="index-online-art.html" class="menu-content-list__link">Online Art <span class="badge new">New</span></a>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <div class="menu-content-banner" style="background-image: url(images/home-megamenu-bg.jpg);">
                                                                    <h4 class="menu-content-banner__title">Achieve Your Goals With EduMall</h4>
                                                                    <a href="#" class="menu-content-banner__btn btn btn-primary btn-hover-secondary">Purchase now</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Mega Menu Content Start -->
                                                </li>
                                            </ul>




                                        </li> --}}
                                        {{#if menu.length}}
                                        {{#each menu}}
                                            <li><a href="/{{menu_page}}">
                                        <span>
                                            {{menu_name}}
                                        </span></a></li>
                                        {{/each}}
                                        {{else}}
                                        <li><a href="become-an-instructor.html"><span>Bosh sahifa</span></a></li>
                                        <li><a href="become-an-instructor.html"><span>Kurslar</span></a></li>
                                        <li><a href="become-an-instructor.html"><span>Bog‘lanish</span></a></li>
                                        {{/if}}
                                        
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header Navigation End -->

                            <!-- Header Mini Cart Start -->
                            {{!-- <div class="header-action">
                                <a href="#" class="header-action__btn">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="header-action__number">3</span>
                                </a>

                                <!-- Header Mini Cart Start -->
                                <div class="header-mini-cart">

                                    <!-- Header Mini Cart Product List Start -->
                                    <ul class="header-mini-cart__product-list ">
                                        <li class="header-mini-cart__item">
                                            <a href="#" class="header-mini-cart__close"></a>
                                            <div class="header-mini-cart__thumbnail">
                                                <a href="shop-single-list-left-sidebar.html"><img src="/assets/images/product-1.png" alt="Product" width="80" height="93"></a>
                                            </div>
                                            <div class="header-mini-cart__caption">
                                                <h3 class="header-mini-cart__name"><a href="shop-single-list-left-sidebar.html">Awesome for Websites</a></h3>
                                                <span class="header-mini-cart__quantity">1 × <strong class="amount">$49</strong><span class="separator">.00</span></span>
                                            </div>
                                        </li>
                                        <li class="header-mini-cart__item">
                                            <a href="#" class="header-mini-cart__close"></a>
                                            <div class="header-mini-cart__thumbnail">
                                                <a href="shop-single-list-left-sidebar.html"><img src="/assets/images/product-2.png" alt="Product" width="80" height="93"></a>
                                            </div>
                                            <div class="header-mini-cart__caption">
                                                <h3 class="header-mini-cart__name"> <a href="shop-single-list-left-sidebar.html">Awesome for Websites</a></h3>
                                                <span class="header-mini-cart__quantity">1 × <strong class="amount">$49</strong><span class="separator">.00</span></span>
                                            </div>
                                        </li>
                                        <li class="header-mini-cart__item">
                                            <a href="#" class="header-mini-cart__close"></a>
                                            <div class="header-mini-cart__thumbnail">
                                                <a href="shop-single-list-left-sidebar.html"><img src="/assets/images/product-3.png" alt="Product" width="80" height="93"></a>
                                            </div>
                                            <div class="header-mini-cart__caption">
                                                <h3 class="header-mini-cart__name"> <a href="shop-single-list-left-sidebar.html">Awesome for Websites</a></h3>
                                                <span class="header-mini-cart__quantity">1 × <strong class="amount">$49</strong><span class="separator">.00</span></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- Header Mini Cart Product List End -->

                                    <div class="header-mini-cart__footer">
                                        <div class="header-mini-cart__total">
                                            <p class="header-mini-cart__label">Total:</p>
                                            <p class="header-mini-cart__value">$445<span class="separator">.99</span></p>
                                        </div>
                                        <div class="header-mini-cart__btn">
                                            <a href="cart.html" class="btn btn-primary btn-hover-secondary">View cart</a>
                                            <a href="checkout.html" class="btn btn-primary btn-hover-secondary">Checkout</a>
                                        </div>
                                    </div>

                                </div>
                                <!-- Header Mini Cart End -->

                            </div> --}}
                            <!-- Header Mini Cart End -->

                            <!-- Header User Button Start -->
                            <div class="header-user d-none d-lg-flex">
                                <div class="header-user__button">
                                    <button class="header-user__login" data-bs-toggle="modal" data-bs-target="#loginModal">Log In</button>
                                </div>
                                <div class="header-user__button">
                                    <button class="header-user__signup btn btn-primary btn-hover-primary" data-bs-toggle="modal" data-bs-target="#registerModal">Sign Up</button>
                                </div>
                            </div>
                            <!-- Header User Button End -->

                            <!-- Header Mobile Toggle Start -->
                            <div class="header-toggle">
                                <button class="header-toggle__btn d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMobileMenu">
                                    <span class="line"></span>
                                    <span class="line"></span>
                                    <span class="line"></span>
                                </button>
                            </div>
                            <!-- Header Mobile Toggle End -->

                        </div>
                        <!-- Header Inner End -->

                    </div>
                    <!-- Header Main Wrapper End -->
                </div>
            </div>
            <!-- Header Main End -->

        </div>
        <!-- Header End -->